*.o
*.obj
*.lo
*.la
*.al
*.so
*.so.[0-9]*
*.dll
*.lib
*.a
*.log
.libs
*.depend
*.layout
*.pyc
*.pyo
__pycache__
*.rej
*~
#*#
.#*
.*.swp
*.layout
*.suo
*.user
.DS_Store
Debug
Release
bin
build/packages
doc/html
doc/rtf
lib
3rd/bin
3rd/lib
